
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <p>Token below</p>
    <input type="text" value="@ViewData["JWT"]" />
</div>
